<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">s
<div class="login-form">
    <form>
        <h2 class="text-center">Profile</h2>       
        <div class="card" #newItem>
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <p class="title">{{user.username}}</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
          </div>
          <div class="clearfix">
            <a href="/logout" class="pull-right">Sign up</a>
        </div>
    </form>
  </div>