.container {
    margin-top:30px;
}
.fa-logout {
    text-align: right;
}
.navbar-brand {
    color: #fff;
}
.logout {
    cursor: pointer;
}
// .navbar {
//     background-color: #ffc107!important;
// }